name: Scraping Quotidien Al-Moussaid

on:
  schedule:
    # Se lance tous les jours à 08:00 UTC
    - cron: '0 8 * * *'
  workflow_dispatch: # Permet de le lancer manuellement aussi

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Récupérer le code
        uses: actions/checkout@v3

      - name: Installer Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Installer les dépendances
        run: |
          pip install requests beautifulsoup4 supabase sentence-transformers groq

      - name: Lancer le scraper
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}
        run: python mon_script_scraping.py
